[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
celery = "*"
flower = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
django-silk = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.9"
